* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

p {
  padding-left: 50px;
}

h1 {
  font-size: large;
  background-color: rgb(70, 34, 104);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: large;
  background-color: rgb(70, 34, 104);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}

h3 {
  font-size: large;
  justify-content: center;
  align-content: center;
  font-weight: 100;
  padding-left: 50px;
  color: rgb(70, 34, 104);
  width: 100%;
}

h4 {
  background-color: rgb(70, 34, 104);
  color: white;
  font-size: small;
  font-weight: 100;
}

.preguntasf {
  font-size: x-large;
  font-weight: 600;
  padding-left: 50px;
}

p {
  box-sizing: inherit;
  line-height: 22px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer {
  width: 100%;
  height: 5%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 235);
  font-family: "PT Sans", sans-serif;
  font-weight: 200;
  color: rgb(70, 34, 104);
  text-decoration-style: none;
}

.container.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar .nav-item .nav-link {
  color: rgb(70, 34, 104);
}

.navbar-brand:hover {
  transform: scale(3);
  color: rgb(70, 34, 104);
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
}

@media screen and (min-width: 768px) {
  .navbar .navbar-expand-lg .bg-light .container-fluid {
    display: flex;
    flex-direction: row;
  }
  .navbar .navbar-expand-lg .bg-light {
    display: flex;
    flex-direction: row;
  }
}
.bottom {
  color: #fff;
  background: rgb(70, 34, 104);
}

.imgfooter {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.imginicio {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  top: 0;
}

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  width: 325px;
  height: 550px;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.img {
  width: 300px;
  height: 250px;
  object-fit: fill;
}

.registro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

h3.registrocontacto {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input.registroblock {
  border-radius: 20px;
  width: 100%;
  border-style: solid;
}

textarea {
  border-radius: 20px;
}

input.enviar {
  padding: 5px;
  margin: 10px;
}

input.limpiar {
  padding: 5px;
  margin: 10px;
}

.opcion {
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
  font-weight: 100;
  gap: 30px;
}

.eleccion {
  display: flex;
  flex: row;
  align-items: center;
  justify-items: center;
  gap: 30px;
  padding: 10px;
  margin: 20px;
}

.imagenestalles {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20%;
  border-style: solid;
}

.container {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.talles {
  font-size: large;
  font-weight: 400;
  margin: 50px;
  display: flex;
  justify-content: center;
}

.tabla-medidas {
  border-collapse: collapse;
  margin: 50px;
  width: 960px;
  border-radius: 30px;
  overflow: hidden;
  font-size: larger;
  min-width: 400px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin-left: 40px;
  background-color: rgb(247, 247, 235);
  border-color: black;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
}

.tabla-medidas th {
  background-color: rgb(250, 242, 242);
  padding: 15px 80px 20px 50px;
  text-align: center;
}

.tabla-medidas td {
  padding: 12px 15px;
}

/*# sourceMappingURL=estilo.css.map */
